$colors: (
  primary: (
    "blue-400": hsl(214, 17%, 51%),
    "blue-500": hsl(217, 19%, 35%),
  ),
  accent: (),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(210, 46%, 95%),
    400: hsl(212, 23%, 69%),
  ),
);
