@use "../abstracts/" as *;

.card {
  width: min(100% - 3rem, em(600px));
  background-color: clr(neutral, 100);
  border-radius: 0.825rem;
  overflow: hidden;

  &__content {
    padding: 2.2rem;
    display: grid;
    gap: 1rem;
  }
}
